body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: rgb(231, 231, 79);
  color: rgb(238, 50, 50);
}

h1 {
  font-size: 50px;
  color: #ff5722;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 #d84315, 6px 6px 0 #bf360c,
    9px 9px 0 rgba(0, 0, 0, 0.2);
}

.card {
  width: 100px; /* ou autre dimension souhaitée */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 40px rgba(0, 0, 0, 0.25); /* Ombre plus marquée au survol */
}

.card-content {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajuste l'image pour remplir l'espace sans déformer */
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin: 30px auto;
}

/* Masquer les cartes */

.card {
  background-color: #f4b74d;

  border-radius: 5px;

  cursor: pointer;
}

.card .card-content {
  opacity: 0;
}

/* Styliser le Boutton */

#start-button {
  background-color: #ff5722;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#start-button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}

#Recommencer-button {
  background-color: #bf360c;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#Recommencer-button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}

/* Pour affiche les cartes */

.card.flip .card-content {
  opacity: 1;
  max-width: 100%;
}

.card.matched {
  border: solid 4px rgb(0, 255, 0);

  box-sizing: border-box;

  cursor: default;
}

.card .card-content {
  max-width: 100%;
}

/* Styliser le Chronometre */
#timer {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #ff5722;
}

/* Animation pour rendre les cartes tournantes */
.card.flip {
  transform: rotateY(180deg);
}

.card .card-content {
  transition: all 0.3s;
}

.card {
  /*animation*/

  transform: rotateY(0deg);

  transition: all 0.5s;
}
